# dependencies
node_modules/
.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# logs
npm-debug.*
*.jlog
*.log

# env
.env
.env.local
.env.*.local
